<html lang="ch">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@misumi3104">
	<meta property="og:title" content='{%if main%}{{main.name}} - {%endif%}233ch.net'>
	<meta property="og:description" content='中国朋友、日本朋友'>
	<meta property="og:image" content="{{image}}">
	<title>{%if ac%}{{main.name}} - {%endif%}233ch.net</title>
</head>
<body>
<div class="container" id="work">
	<navbar :language="language" :account="account" :category="category" :status="status" :state="this"></navbar>
	<div class="row">
		<div class="col-12 col-sm-3" id="category">
			<ranking :category="category" :language="language" :state="{{staterankingpop|json}}">
				<span slot="head">popular</span>
			</ranking>
			<ranking :category="category" :language="language" :state="{{staterankingnew|json}}">
				<span slot="head">new</span>
			</ranking>
		</div>
		<div class="col-12 col-sm-9">
			{%block main%}{%endblock%}
		</div>
	</div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
<script type="text/x-template" id="categoryinput-template">
	<select class="form-control" v-model="model.category">
		<option v-for="cate of category" :value="cate.name" v-text="language=='jp'?cate.namejp:cate.namech"></option>
	</select>
</script>
<script type="text/x-template" id="imageinput-template">
	<div>
		<input type="file" class="form-control-file" accept="image/*" @change="change">
		<img v-show="model.image" :src="model.image" style="width:100%;height:auto;">
	</div>
</script>
<script type="text/x-template" id="translation-template">
	<div>
		<div class="form-group">
			<input :name="name" type="text" class="form-control" v-model="tx" v-if="name">
			<textarea :name="name" class="form-control" v-model="tx" v-if="!name" style="resize:none"></textarea>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="auto" v-model="auto" value="true">
					<label class="form-check-label" v-text="language=='jp'?'自動翻訳を使う':'使用自动翻译'"></label>
				</div>
			</div>
			<div class="col-6">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="auto" v-model="auto" value="">
					<label class="form-check-label" v-text="language=='jp'?'使わない':'不使用'"></label>
				</div>
			</div>
		</div>
		<code>中文</code>
		<div class="form-group">
			<input :readonly="auto?true:false" v-model="model.namech" type="text" class="form-control" v-if="name">
			<textarea :readonly="auto?true:false" v-model="model.textch" class="form-control" v-if="!name" style="resize:none"></textarea>
		</div>
		<code>日本語</code>
		<div class="form-group">
			<input :readonly="auto?true:false" v-model="model.namejp" type="text" class="form-control" v-if="name">
			<textarea :readonly="auto?true:false" v-model="model.textjp" class="form-control" v-if="!name" style="resize:none"></textarea>
		</div>
	</div>
</script>
<script type="text/x-template" id="ranking-template">
	<div class="bg-warning">
		<h2>
			<slot name="head"></slot>
		</h2>
		<ul class="list-unstyled">
			<li v-for="channel in channelrank">
				<a class="media" :href="'/channel/'+channel.key">
					<div style="width:100px;height:100px;">
						<img class="mr-3" :src="channel.image||'/noimage.png'" style="position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 100%;max-height: 100%;">
					</div>
					<div class="media-body" v-text="language=='jp'?channel.namejp:channel.namech"></div>
				</a>
				<div style="width:100%">
					<span class="text-success" v-text="getcategory(channel)"></span>
					<span v-text="channel.countview"></span>
					<span class="small">views</span>
				</div>
				<div v-show="channel.musr">
					<img :src="channel.musr.image||'/noimage.png'" style="width:20px;height:20px;">
					<small v-text="channel.musr.name"></small>
					<div>
						<small v-text="channel.musr.borntext"></small>
					</div>
				</div>
				<hr>
			</li>
		</ul>
	</div>
</script>
<script type="text/x-template" id="navbar-template">
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<a class="navbar-brand mr-auto" href="/">
			233ch.net
		</a>
		<form class="form-inline my-2 my-md-0">
			<select class="form-control-lg mr-2" v-model="state.language">
				<option value="jp">日本語</option>
				<option value="ch">中文</option>
			</select>
			<div class="dropdown" v-if="account">
				<img :src="account.image||'/noimage.png'" data-toggle="dropdown" class="form-control-lg">
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#"><i class="fas fa-question"></i> help</a>
					<a class="dropdown-item" data-toggle="modal" data-target="#signset"><i class="fas fa-cog"></i>setting</a>
					<a class="dropdown-item" @click="signout"><i class="fas fa-sign-out-alt"></i>sign out</a>
					<a class="dropdown-item" data-toggle="modal" data-target="#channelnew"><i class="far fa-comments"></i>new channel</a>
				</div>
			</div>
			<div v-if="!account">
				<button type="button" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#signin">LOG IN</button>
				<button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signup">SIGN UP</button>
			</div>
		</form>
		<div class="modal fade" id="signin" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Sign in</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Email address</label>
							<input name="email" type="email" class="form-control" placeholder="Enter email" v-model="model.email">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input name="password" type="password" class="form-control" placeholder="Password" v-model="model.password">
						</div>
						<div class="alert alert-warning" role="alert" v-if="status==400">
							account not found
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-primary" @click="signin">Submit</div>
						<div class="btn btn-secondary" data-dismiss="modal">Close</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="signup" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Sign up</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Email address</label>
							<input name="email" type="email" class="form-control" placeholder="Enter email" v-model="model.email">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input name="password" type="password" class="form-control" placeholder="Password" v-model="model.password">
						</div>
						<div class="form-group">
							<label>handle name</label>
							<input name="name" type="text" class="form-control" placeholder="name" value="{{name}}">
						</div>
						<div class="btn btn-primary" @click="signma">Send validation code to your address.</div>
						<div class="alert alert-success" role="alert" v-if="status==200">
							we sent a email to your address.<br>please input your validation code which the email tell you bellow.
						</div>
						<div class="form-group">
							<label>validation code</label>
							<input name="code" type="text" class="form-control" placeholder="code" v-model="model.code">
						</div>
						<div class="alert alert-warning" role="alert" v-if="status==400">
							validation code is wrong
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-primary" @click="signup">Sign up</div>
						<div class="btn btn-secondary" data-dismiss="modal">Close</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="signset" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Sign set</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>handle name</label>
							<input name="name" type="text" class="form-control" placeholder="name" v-model="model.name">
						</div>
						<imageinput :language="language" :model="model"></imageinput>
						<div class="alert alert-warning" role="alert" v-if="status==400">
							the mail address is used
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-primary" @click="signset">Submit</div>
						<div class="btn btn-secondary" data-dismiss="modal">Close</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="channelnew" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/channel" class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">NEW CHANNEL</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<code>title</code>
						<translation :language="language" :model="modelchannel" :name="true"></translation>
						<imageinput :language="language" :size="128" :model="modelchannel"></imageinput>
						<code>category　<< modelchannel.category >>　</code>
						<categoryinput :language="language" :category="category" :model="modelchannel"></categoryinput>
						<div class="alert alert-warning" role="alert" v-if="status==400">
							Please sign in first
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-primary" @click="channelnew">Submit</div>
						<div class="btn btn-secondary" data-dismiss="modal">Close</div>
					</div>
				</form>
			</div>
		</div>
	</nav>
</script>
<script type="text/x-template" id="channel-template">
	<div>
		<div class="media">
			<div style="width:100px;height:100px;">
				<img class="mr-3" :src="channel.image||'/noimage.png'" style="position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 100%;max-height: 100%;">
			</div>
			<div class="media-body">
				<h3 v-text="language=='jp'?channel.namejp:channel.namech"></h3>
			</div>
		</div>
		<div style="width:100%">
			<span class="text-success" v-text="getcategory(channel)"></span>
			<span v-text="channel.countview"></span>
			<span class="small">views</span>
		</div>
		<ul class="list-unstyled">
			<li v-for="message in messagelist">
				<hr>
				<div class="card">
					<div class="card-body">
						<p class="card-text" v-text="language=='jp'?message.textjp:message.textch"></p>
					</div>
					<img class="card-img-bottom" :v-show="message.image" :src="message.image">
					<div class="card-footer" :v-show="message.musr">
						<img :src="message.musr.image||'/noimage.png'" style="width:40px;height:40px;">
						<small v-text="message.musr.name"></small>
						<div>
							<small v-text="message.musr.borntext"></small>
						</div>
					</div>
				</div>
			</li>
			<li>
				<code>text</code>
				<translation :language="language" :model="model" :name="false"></translation>
				<imageinput :language="language" :size="128" :model="model"></imageinput>
				<div class="btn btn-primary" @click="messagenew">Submit</div>
			</li>
		</ul>
	</div>
</script>
<script src="/custom.js"></script>
<script>
new Vue({
	el: '#work',
	data: {%autoescape off%}{{statemain|json}}{%endautoescape%},
})
</script>
</body>
</html>